*.pyc

dist/
build/
*.egg-info/

.tox/
.coverage

.DS_Store
.cache/
data8assets/
.autopull_list
summer/
test-repo/
venv/

.ipynb_checkpoints
docs/_build

node_modules/
package-lock.json

nbgitpuller/static/dist

nbgitpuller/labextension/
lib/
*.tsbuildinfo
