# python
*.pyc
dist/
build/
*.egg-info/
.tox/
.coverage

# osx
.DS_Store

# ignore vscode
.vscode/

# python virtual env
env/
venv/
.cache/
data8assets/
.autopull_list
summer/
test-repo/

.ipynb_checkpoints
docs/_build

node_modules/
package-lock.json

nbgitpuller/static/dist
