*.pyc

dist/
build/
*.egg-info/

.tox/
.coverage

.DS_Store
.cache/
data8assets/
.autopull_list
summer/
test-repo/
venv/
.idea/

.ipynb_checkpoints
docs/_build
jupyterhub.sqlite
jupyterhub_cookie_secret