{% extends "page.html" %}

{% block params %}
{{super()}}
data-base-url="{{base_url | urlencode }}"
data-repo="{{repo | urlencode }}"
data-path="{{path | urlencode }}"
data-branch="{{ branch | urlencode }}"
{% endblock %}

{% block site %}
<div class="container"">
    <div class="page-header">
        <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
        <small id="sub-status" class="pulsate">Synchronizing Repository...</small>
    </div>
    <div class="row">
        <div id="pull-status-container">
            <div id="pull-status"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script src="{{ base_url }}git-sync/static/index.js">
</script>
{% endblock %}

{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ base_url }}git-sync/static/xterm.js-2.9.1/dist/xterm.css"> </link>
<style>
#pull-status-container {
    padding: 16px;
    background-color: black;
    display: none;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

</style>
{% endblock %}
